<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>comm_mm.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,619},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gongyong_icon_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,890},{73,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,82}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>gongyong_icon_shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,815},{73,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,82}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>gongyong_touxiangkuang_9s.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,427},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>majiang_dating_icon_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,256},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>majiang_dating_icon_xinxikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{263,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,64}}</string>
                <key>sourceSize</key>
                <string>{263,64}</string>
            </dict>
            <key>majiang_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,969},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>majiang_gongyong_anniu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,443},{174,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,80}}</string>
                <key>sourceSize</key>
                <string>{174,80}</string>
            </dict>
            <key>majiang_gongyong_anniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,619},{174,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,80}}</string>
                <key>sourceSize</key>
                <string>{174,80}</string>
            </dict>
            <key>majiang_gongyong_anniu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,443},{174,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,80}}</string>
                <key>sourceSize</key>
                <string>{174,80}</string>
            </dict>
            <key>majiang_gongyong_anniu_huise.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,267},{174,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,80}}</string>
                <key>sourceSize</key>
                <string>{174,80}</string>
            </dict>
            <key>majiang_gongyong_dikuang2_9s.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,196},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,58}}</string>
                <key>sourceSize</key>
                <string>{59,58}</string>
            </dict>
            <key>majiang_gongyong_dikuang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{845,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{845,113}}</string>
                <key>sourceSize</key>
                <string>{845,113}</string>
            </dict>
            <key>majiang_gongyong_dikuang9s.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,965},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>majiang_gongyong_dikuang_caidan9s.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,267},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>majiang_gongyong_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,928},{75,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,83}}</string>
                <key>sourceSize</key>
                <string>{75,83}</string>
            </dict>
            <key>majiang_gongyong_icon_caidan.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,844},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>majiang_gongyong_icon_fanhui .png</key>
            <dict>
                <key>frame</key>
                <string>{{281,529},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>majiang_gongyong_icon_huadongtiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{427,22}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{427,22}}</string>
                <key>sourceSize</key>
                <string>{431,28}</string>
            </dict>
            <key>majiang_gongyong_icon_huadongtiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{425,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{425,20}}</string>
                <key>sourceSize</key>
                <string>{431,28}</string>
            </dict>
            <key>majiang_gongyong_icon_liaotian.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,731},{73,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,82}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>majiang_gongyong_icon_paihangbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,928},{73,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,82}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>majiang_gongyong_icon_process.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,795},{80,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,42}}</string>
                <key>sourceSize</key>
                <string>{80,42}</string>
            </dict>
            <key>majiang_gongyong_icon_zoushitu.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,844},{73,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,82}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>majiang_gongyong_tap1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,849},{83,151}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,151}}</string>
                <key>sourceSize</key>
                <string>{95,153}</string>
            </dict>
            <key>majiang_gongyong_tap2.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,741},{60,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,140}}</string>
                <key>sourceSize</key>
                <string>{60,140}</string>
            </dict>
            <key>majiang_huodong_anniu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{216,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,88}}</string>
                <key>sourceSize</key>
                <string>{216,88}</string>
            </dict>
            <key>majiang_huodong_anniu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,2},{192,88}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,88}}</string>
                <key>sourceSize</key>
                <string>{216,88}</string>
            </dict>
            <key>majiang_icon_wenzi_bz.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,839},{114,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{114,45}}</string>
                <key>sourceSize</key>
                <string>{118,47}</string>
            </dict>
            <key>majiang_icon_wenzi_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,380},{118,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,45}}</string>
                <key>sourceSize</key>
                <string>{118,47}</string>
            </dict>
            <key>majiang_icon_wenzi_fh.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,613},{116,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{116,43}}</string>
                <key>sourceSize</key>
                <string>{118,47}</string>
            </dict>
            <key>majiang_icon_wenzi_hz.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,803},{118,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{118,39}}</string>
                <key>sourceSize</key>
                <string>{118,47}</string>
            </dict>
            <key>majiang_icon_wenzi_hz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,849},{118,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{118,39}}</string>
                <key>sourceSize</key>
                <string>{118,47}</string>
            </dict>
            <key>majiang_icon_wenzi_px.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,220},{114,45}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{114,45}}</string>
                <key>sourceSize</key>
                <string>{118,47}</string>
            </dict>
            <key>majing_icon_loding.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,310},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>rank_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,369},{55,47}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{55,47}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>rank_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,529},{57,51}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,51}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>rank_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,955},{49,39}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{49,39}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>red.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,965},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majiang_comm.png</string>
            <key>size</key>
            <string>{419,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb4c73ee6495e64e1e594e112c74e747$</string>
            <key>textureFileName</key>
            <string>majiang_comm.png</string>
        </dict>
    </dict>
</plist>
