<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gtab_winnerrank_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,146},{142,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{142,34}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>gtab_winnerrank_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{152,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{152,44}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>tab_accountsafe_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{142,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{142,34}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>tab_accountsafe_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,100},{152,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{152,44}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>tab_bank_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,338},{106,34}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{106,34}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>tab_bank_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,310},{116,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,3},{116,44}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>tab_exchangecode_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,266},{104,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{104,34}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>tab_exchangecode_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,184},{114,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,3},{114,44}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>tab_gainrank_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,302},{106,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{106,34}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>tab_gainrank_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,264},{116,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{116,44}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>tab_roadimg_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,230},{104,34}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{104,34}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>tab_roadimg_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,94},{114,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{114,42}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>tab_userinfo_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{142,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{142,34}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>tab_userinfo_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{152,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{152,44}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>tab_wealthrank_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,266},{106,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{106,34}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>tab_wealthrank_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,218},{116,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{116,44}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>tab_winloseimg_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,374},{104,34}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{104,34}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>tab_winloseimg_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,138},{114,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{114,44}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>tab_yesterdayrank_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,182},{140,34}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{140,34}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>tab_yesterdayrank_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{150,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{150,44}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>tab_zproadimg_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,48},{114,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{114,44}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>tab_zproadimg_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,230},{106,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{106,34}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>title_about.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,352},{86,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,6},{86,46}}</string>
                <key>sourceSize</key>
                <string>{180,54}</string>
            </dict>
            <key>title_changeinfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{168,46}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{168,46}}</string>
                <key>sourceSize</key>
                <string>{180,54}</string>
            </dict>
            <key>title_email.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,302},{86,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,4},{86,48}}</string>
                <key>sourceSize</key>
                <string>{180,54}</string>
            </dict>
            <key>title_giverecord.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{168,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{168,46}}</string>
                <key>sourceSize</key>
                <string>{180,54}</string>
            </dict>
            <key>title_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,356},{86,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,4},{86,48}}</string>
                <key>sourceSize</key>
                <string>{180,54}</string>
            </dict>
            <key>title_look.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,364},{88,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,5},{88,46}}</string>
                <key>sourceSize</key>
                <string>{180,54}</string>
            </dict>
            <key>title_prizeinfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,50},{166,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{166,48}}</string>
                <key>sourceSize</key>
                <string>{180,54}</string>
            </dict>
            <key>title_redmoney.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,48},{86,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,5},{86,46}}</string>
                <key>sourceSize</key>
                <string>{180,54}</string>
            </dict>
            <key>title_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{88,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,6},{88,46}}</string>
                <key>sourceSize</key>
                <string>{180,54}</string>
            </dict>
            <key>title_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,136},{88,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{88,48}}</string>
                <key>sourceSize</key>
                <string>{180,54}</string>
            </dict>
            <key>title_userinfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{168,48}}</string>
                <key>sourceSize</key>
                <string>{180,54}</string>
            </dict>
            <key>title_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{164,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{164,48}}</string>
                <key>sourceSize</key>
                <string>{180,54}</string>
            </dict>
            <key>title_zhuanglist.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{166,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{166,48}}</string>
                <key>sourceSize</key>
                <string>{180,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common_title.png</string>
            <key>size</key>
            <string>{506,412}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8506fda8b7e37dd60482c348f8eb68a$</string>
            <key>textureFileName</key>
            <string>common_title.png</string>
        </dict>
    </dict>
</plist>
