<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fntb_deposit.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{66,34}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,17},{66,34}}</string>
                <key>sourceSize</key>
                <string>{206,78}</string>
            </dict>
            <key>fntb_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{66,34}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,18},{66,34}}</string>
                <key>sourceSize</key>
                <string>{206,78}</string>
            </dict>
            <key>fntb_getreward.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{130,34}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,18},{130,34}}</string>
                <key>sourceSize</key>
                <string>{206,78}</string>
            </dict>
            <key>fntb_look.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{66,34}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,17},{66,34}}</string>
                <key>sourceSize</key>
                <string>{206,78}</string>
            </dict>
            <key>fntb_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{66,34}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,18},{66,34}}</string>
                <key>sourceSize</key>
                <string>{206,78}</string>
            </dict>
            <key>fntb_quickexchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{130,34}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,18},{130,34}}</string>
                <key>sourceSize</key>
                <string>{206,78}</string>
            </dict>
            <key>fntb_quickget.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,34}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,18},{130,34}}</string>
                <key>sourceSize</key>
                <string>{206,78}</string>
            </dict>
            <key>fntb_save.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{66,34}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,17},{66,34}}</string>
                <key>sourceSize</key>
                <string>{206,78}</string>
            </dict>
            <key>fntb_takeout.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{64,34}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,18},{64,34}}</string>
                <key>sourceSize</key>
                <string>{206,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common_fnt.png</string>
            <key>size</key>
            <string>{804,38}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f59c4e5f5c8e0b68612ee0babb63eb2$</string>
            <key>textureFileName</key>
            <string>common_fnt.png</string>
        </dict>
    </dict>
</plist>
